@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
:root {
  --main-color-1: #cb997e;
  --main-color-2: #ddbea9;
  --main-color-3: #ffe8d6;
  --second-color-1: #6b705c;
  --second-color-2: #a5a58d;
  --second-color-3: #b7b7a4;
}

body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Aldrich, Arial, Helvetica, sans-serif;
  background-color: var(--main-color-1);
}
header {
  width: 100vw;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--second-color-1);
}
header img {
  position: absolute;
  left: 0px;
  width: 300px;
}
header nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
header li {
  text-align: center;
}
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
header a {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid var(--main-color-1);
  border-right: 2px solid var(--main-color-1);
}
header a:hover {
  color: var(--second-color-1);
  background-color: var(--main-color-1);
}
header a {
  color: var(--main-color-2);
  text-decoration: none;
}
ul {
  list-style: none;
}
#whyusethissiteDIV,
#shortenOper {
  margin-left: 0 auto;
  margin-right: 0 auto;
  margin-top: 50px;
  width: 50vw;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--second-color-1);
  color: var(--main-color-2);
  border: 2px solid var(--second-color-3);
  border-radius: 5%;
}
section {
  color: var(--second-color-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
